language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev
  - chmod -R 777 tests/storage

script: phpunit

notifications:
  emails:
    - yuuki.takezawa@comnect.jp.net