.login-title {
    color: #555;
    font-size: 36px;
    font-weight: 400;
    display: block;
}
.profile-img {
    width: 500px;
    height: 205px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.element {
   .center-block();
}