/**
 * Laravel.JpRecipe default Cascading Style Sheets
 *
 */
body {
    font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;

}

.wet-asphalt {
    background-color: #333;
}

.header-color {
    background-color: ivory;
	color: black !important;
}

.header-logo {
	height: 38px;
	margin-top: 3px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus
{
    background-color: #252525;
}

.midnight-blue {
    background-color: #252525;
}
.navbar-brand {
    height: auto;
}

.search {
    color: #fff;
    background: url('/images/background/header.jpg') no-repeat scroll 0% 0% #F4726D;
    padding: 35px;
}

.title-back {
	padding-top: 20px;
	background-color: ivory !important;
}

.title-back {
	background-color: ivory !important;
}

.site-hero {
    background: none repeat scroll 0 0 #ff691c;
	padding: 50px 0 35px;
}

.container {
	width: 85%;
}
.recipe-info {
    color: #fff;
}
body > section {
    padding: 20px 0;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 40px;
    font-style: normal;
    margin-left: 2px;
}.flaticon-add65:before {
     content: "\e000";
}

.badge-info {
    background-color: #F4726D;
}

.recipe-content .recipe-item {
    margin-bottom: 20px;
}

.disqus-content {
	margin-bottom: 20px;
}

.backcolor-white {
	background-color: white;
}

.recipe-title {
    padding-top: 15px;
}

.content-border {
	border: 3px solid;
}

.side-content-border {
	border: 3px solid;
	border-radius: 7px;
	background-color: white;
}

.disqus-content-border {
	border: 3px solid;
	padding: 20px 20px;
	border-radius: 7px;
	margin-bottom: 20px;
}

.backcolor-white {
	background-color: white;
}

.mt-40 {
    margin-top: -40px;
}

.pt35 {
	padding-top: 35px;
}

@media screen and (max-width: 767px) {
	.pc-sns-btn {
		display: none;	
	}

	.navbar-collapse > .nav > li {
		border-top: 1px solid;
	}
}

@media screen and (min-width: 767px) {
	.sp-sns-btn {
		display: none;	
	}
}

.bg-black {
	background-color: black;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: black !important;
}
